
$circle-size: 120px;
$circle-background: #e8eaed;
$circle-color: #ffdb4d;
$inset-size: 105px;
$inset-color: #fff;
$transition-length: 1.5s;

.ko-progress-circle {
	margin: 20px auto;
	width:  $circle-size;
	height: $circle-size;

	background-color: $circle-background;
	border-radius: 50%;
		.ko-progress-circle__slice, .ko-progress-circle__fill {
			width:    $circle-size;
			height:   $circle-size;
			position: absolute;
			-webkit-backface-visibility: hidden;
			transition: transform $transition-length;
			border-radius: 50%;
		}
		.ko-progress-circle__slice {
			clip: rect(0px, $circle-size, $circle-size, $circle-size/2);
			.ko-progress-circle__fill {
				clip: rect(0px, $circle-size/2, $circle-size, 0px);
				background-color: $circle-color;
			}
	}
	.ko-progress-circle__overlay {
		width:       $inset-size;
		height:      $inset-size;
		position:    absolute;
		margin-left: ($circle-size - $inset-size)/2;
		margin-top:  ($circle-size - $inset-size)/2;
    line-height: $inset-size;
    text-align: center;

		background-color: $inset-color;
		border-radius: 50%;
	}

	$i: 1;
	$increment: 180deg / 100;
	@while $i <= 100 {
		&[data-progress='#{$i}'] {
				.ko-progress-circle__slice.full, .ko-progress-circle__fill {
                                     -webkit-transform: rotate($increment * $i);
                                        -moz-transform: rotate($increment * $i);
                                        -ms-transform: rotate($increment * $i);
                                        -o-transform: rotate($increment * $i);
                                        transform: rotate($increment * $i);
				}	
				.ko-progress-circle__fill.ko-progress-circle__bar {
                                        -webkit-transform: rotate($increment * $i * 2);
                                        -moz-transform: rotate($increment * $i * 2);
                                        -ms-transform: rotate($increment * $i * 2);
                                        -o-transform: rotate($increment * $i * 2);
                                        transform: rotate($increment * $i * 2);
				}
      $i: $i + 1;
		}
	}
}